In [1]:
#right half pyramid
n=5
for i in range(1,n+1):
    print(i*"*")

*
**
***
****
*****

In [7]:
#inverted half pyramid
n=5
for i in range(n,0,-1):
    print(i*"*")

*****
****
***
**
*

In [10]:
#left half pyramid
n=5
for i in range(1,n+1):
    print(" "*(n-i)+i*"*")

    *
   **
  ***
 ****
*****

In [16]:
#full pyramid
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [19]:
#inverted left hand pyramid
n=5
for i in range(n,0,-1):
    print(" "*(n-i)+i*"*")

*****
 ****
  ***
   **
    *

In [20]:
#inverted full pyramid
n=5
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    print("*"*(2*i-1))

*********
 *******
  *****
   ***
    *

In [74]:
#rhombus pattern
n=5
for i in range(1,n+1):
    print(" "*(2*i-i)+(2*n-1)*"*")

 *********
  *********
   *********
    *********
     *********

In [36]:
#diamond pattern
n=4
for i in range(1,n+1):
    print(" "*(n-i)+(2*i-1)*"*")
for i in range(n-1,0,-1):
    print(" "*(n-i)+(2*i-1)*"*")

   *
  ***
 *****
*******
 *****
  ***
   *

In [79]:
#hourhlass pattern
n=7
for i in range(n,0,-1):
    print(" "*(n-i)+(2*i-1)*"*")
for i in range(2,n+1):
    print(" "*(n-i)+(2*i-1)*"*")

*************
 ***********
  *********
   *******
    *****
     ***
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [80]:
#hallow square pyramid
n=5
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [105]:
#hallow  full pyramid
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==n:
            print("*",end="")
        else:
            print(" ",end="")
    print()

    *
   * *
  *   *
 *     *
*********

In [93]:
#halllow inverted pyramid
n=5
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==n:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*********
 *     *
  *   *
   * *
    *

In [103]:
#hallow diamond pyramid
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==0:
            print("*",end="")
        else:
            print(" ",end="")
    print()
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==0:
            print("*",end="")
        else:
            print(" ",end="")
    print()

    *
   * *
  *   *
 *     *
*       *
*       *
 *     *
  *   *
   * *
    *

In [106]:
#haloow hourglass pattern
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==n:
            print("*",end="")
        else:
            print(" ",end="")
    print()
for i in range(2,n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(1,2*i):
        if j==1 or j==2*i-1 or i==n:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*********
 *     *
  *   *
   * *
    *
   * *
  *   *
 *     *
*********

In [117]:
#floyds trinagle
n=4
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num,end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [125]:
#pascalss trinagle
n = 4
num=[]
for i in range(n):
    row = [1] * (i + 1)
    for j in range(1, i):
        row[j] = num[i - 1][j - 1] +num[i - 1][j]
    num.append(row)
for row in num:
    print(" ".join(map(str,row)).center(n * 2))

   1
  1 1
 1 2 1
1 3 3 1

In [13]:
#butterfly pattern
for i in range(1,6):
    print(i*"* ")
for j in range(4,0,-1):
    print(j*"* ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [15]:
rows=5
for i in range(1, rows + 1):
    print("*" * i + " " * (2 * (rows - i)) + "*" * i)
for i in range(rows - 1, 0, -1):
    print("*" * i + " " * (2 * (rows - i)) + "*" * i)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [6]:
#fibonacci series
n=int(input())
a=0
b=1
for _ in range(n):
    print(a,end=" ")
    a,b=b,a+b

7
0 1 1 2 3 5 8